*{
 margin: 0;
 padding: 0;
 font-family: Jost;
 
 }
.navbar-nav {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: 50px !important; 
    }
.navbar-collapse {
        justify-content: space-between;
    }
    
.navbar {
        padding: 10px;
        background-color: white;
    }
 .navbar-brand {
        color: #1f1f1f;
        font-weight: 500;
        font-size: 28px;
        font-family: Jost;
        margin: 0px 0px 0px 50px;
    }
.nav-item {
        padding: 7px;
        font-size: Gabarito;
        color: #1f1f1f;
        font-weight: 400;
    }
.nav-icons span {
        padding: 8px;
    }
    
.search,
    .user,
    .heart {
        color: black;
    }
.count {
       width: 20px !important;
        height: 20px !important;
        font-size: 8px;
        position: relative;
        text-align: center;
        font-weight: bold;
        border-radius: 50%;
        background-color: red;
        color: white;
        top: -10px;
        left: -10px;
    }
.nav-icons {
        display: flex;
        padding: 18px;
        margin-left: auto;
    }
.navbar-nav,
.nav-link {
        color: #1f1f1f;
    }
.navbar-nav li.nav-item a.nav-link {
        color: black;
    }
.navbar-nav li.nav-item a.nav-link:hover {
        color: orange;
    }
    


.pg-dark{
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid black;
    background-image: url(pattern-1.svg);
    background-color: #2c2c2c;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.text-centre{
    text-align: center !important;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.8px !important;
    font-family: Jost;
}
.bg-cover{
    margin-top: 20px;
    height: 470px;
    display: flex !important;
    flex-direction: column !important;
    background-position: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 0;
    }
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding-bottom: 40px !important;
    padding-top: 40px !important;
    /* margin-bottom: -80px !important; */
    margin-top: 130px !important;
}
.card-body h1{
    color: #ffffff;
    font-size: 42px;
    font-weight: 800;
    text-align: center !important;
    font-family: Alata;
    margin-bottom: 0 !important;
    line-height: 1.2;
    box-sizing: border-box;
    display: block;
    margin-block-start: 13.5px;
    margin-block-end: 13.5px;
}
.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding-bottom: 40px !important;
    padding-top: 40px !important;
    margin-top: 60px;
}
.first {
    font-size: 16px;
    width: 180px;
    height: 55px;
    border-style: none;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    font-family: Jost;
    position: relative;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .second {
    font-size: 16px;
    width: 150px;
    height: 55px;
    border-style: none;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    font-family: Jost;
    position: relative;
  }
  .third {
    font-size: 16px;
    width: 150px;
    height: 55px;
    border-style: none;
    background-color: #f9f9f9;
    border-color: #f9f9f9;
    font-family: Jost;
    position: relative;
  }
  .first:hover .fa-arrow-right, .second:hover .fa-arrow-right, .third:hover .fa-arrow-right {
    right: 10px;
    transform: translateX(5px);
    transition: 0.5s;
  }
  .button-link:hover {
    color: #fff;
    text-decoration: none;
  }
  .button-link {
    color: #fff;
    font-family: Alata;
    font-size: 16px;
  }
  .fa-arrow-right{
    margin-left: 6px;
  }
  .bg-cover:hover{
    opacity: 0.8;
  }
  .text-head{
    font-size: 15px;
    color: #767676;
    margin-bottom: 0 !important;
    font-family: Jost;
    font-weight: 100;
  }
  /* ---------------------------------------------------------------section2--------------------------------------------------------- */
  .border-bottom{
    border: 1px solid #ebebeb;
    padding-bottom: 18px;
    display: flex !important;
    flex-wrap: wrap;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
  }
  .border-bottom1{
    flex: 0 0 auto;
  }
  .d-flex{
    display: flex !important;
    margin-bottom: 24px;
   }
.ms-6{
    margin-left: 24px !important;
    display: block;
    box-sizing: border-box;
}
.heading-xss{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 4px !important;
    font-family: Jost;
}
.fa-truck, .fa-repeat, .fa-lock, .fa-tag{
    color: #fd7e14;
}
/* --------------------------------------------------------section 3------------------------------------------------------------------- */
.justify-content-centre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    box-sizing: border-box;
}
.heading-xs{
    font-size: 13px;
    color: #909090 !important;
    font-weight: 500;
    font-family: Jost;
    margin: 100px 0 0 0 ;
    margin-bottom: 8px !important;
}
.mb-4{
    margin-bottom: 16px !important;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
}
.text-grey{
    color: #525252;
    margin-bottom: 64px !important;
    font-size: 16px;
    letter-spacing: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.flex-coloumn{
    flex-direction: column !important;
    display: flex !important;
    flex: 0 0 auto;
    width: 100%;
}
.card{
    background-image: url(product-1.jpg);
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 0;
    position: relative;
    background-clip: border-box;
    word-wrap: break-word;
}
.img-cover{
    background-image: url(product-1.jpg);
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
    z-index: 1;
    }
.card-bg{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
}
.card-inside{
    width: 100%;
    padding: 20px;
    /* text-align: center !important; */
    flex: 0 0 auto;
    margin-bottom: auto !important;
    margin-top: 140px !important;
    position: absolute;
    margin-left: 35px;
}
.card-insideone{
    width: 100%;
    padding: 20px;
    text-align: center !important;
    flex: 0 0 auto;
    margin-bottom: auto !important;
    margin-top: 140px !important;
    position: absolute;
}
.card-end{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ff6f61;
    color: #fff;
    margin:15px 0 0 610px;
}
.span-top{
    font-size: 30px;
    font-weight: 500;
    margin-top: -5px !important;
    font-family: Jost;
}
.card-ins-head{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px !important;
    font-family: Jost;
}
.card-ins-head-black{
    color: #1f1f1f;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 5px !important;
    font-family: Jost;
}
.btn-link-streched-black{
    font-weight: 500;
    color: #1f1f1f;
    font-family: Jost;
    margin-left: -10px;
}
.btn-link-streched{
    font-weight: 500;
    color: #fff;
    font-family: Jost;
}
.btn-link-streched:hover{
    color: #fff;
}
.btn-link-streched:hover .fa-arrow-right, .btn-link-streched-black:hover .fa-arrow-right{
    right: 10px;
    transform: translateX(5px);
    transition: 0.5s;
}
.img-cover, .card-ins-head, .btn-link-streched{
    transition: color 2s;
}
.flex-coloumn:hover{
    background-position: 90% !important;
    transition: 1s ease-in-out;
}
/* -------------------------------------------------section 4------------------------------------------------------------------------- */
.text-mb{
    margin-top: 72px !important;
    text-align: center !important;
    margin-bottom: 16px !important;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Jost;
    letter-spacing: 0;
}
.navone a:link {
    font-size: 16px;
    color: #1f1f1f;
    font-weight: 500;
    font-family: Jost;
    text-decoration: none;
    margin-bottom: 50px !important;
  }
  .nav-link1:hover {
    color: #ff6f61;
  }
  .nav-link1 {
    color: #ff6f61;
    text-decoration: none;
  }
  .nav-link1::before {
    content: "";
    background: #ff6f61;
    height: 1px;
    width: 60px;
    margin-left: -0px;
    margin-right: auto;
    margin-top: 7px;
    display: block;
    transform: translateY(30px);
  }
  .tab-content{
    display: block;
    box-sizing: border-box;
  }
.fade-content{
    display: block;
    transition: opacity .2s ease-in-out;
}

.row {
    display: flex !important;
    flex-wrap: wrap !important;
}

.flex-direction {
    flex: 0 0 auto;
    width: 25% !important;
}
.shirts {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    min-width: 0;
    position: relative;
    margin-bottom: 32px !important;
}
.card-badge-start {
    left: 0;
    position: absolute;
    top: 20px;
    z-index: 1;
    flex-shrink: 0;
}
.shirt-img {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    display: block;
}
.shirt-img-hover {
    display: block;
    position: relative;
    overflow: hidden;
}

.shirt-img-hover a {
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: #ff6f61;
}

.card-img-back {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}
.shirt-img-hover:hover .card-img-back {
    opacity: 0;
}
.card-img-top {
    width: 100%;
}
.card-img-front {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.shirt-img-hover:hover .card-img-front {
    opacity: 1;
}
.card-badge {
    width: 50px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 12px;
    font-weight: 500;
    border-radius: 0;
    font-family: Jost;
}
.badge{
    width: 50px;
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    text-transform: uppercase;
    font-weight: bold; 
    font-size: 12px;
    font-weight: 500;
}
.custom-badge{
    background-color: #343a40; /* Dark background color */
      color: #fff !important; /* White text color */
      border-radius: 0;
      font-family: Jost;
}
.shirts-body {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column; 
}
.fs-xs {
    font-size: 14px;
    display: block;
}
.text-muted {
    color: #767676 !important;
    text-decoration: none;
    font-family: Jost;
}
.text-muted1{
    color: #767676 !important;
    text-decoration: none;
    font-family: Jost;
}
.fw-bold {
    display: block;
    font-weight: 500 !important;
}
.text-body1 {
    text-decoration: none;
    color: #1f1f1f !important;
    font-size: 16px;
    font-family: Jost;
}
.fw-bold h1{
    font-size: 16px;
    color: #767676 !important;
}
del{
    font-size: 13px;
}
 .fw-bold span{
    color: #ff6f61;
}
.row {
    display: flex !important;
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    flex-wrap: wrap !important;
  }
.text-centre-three{
    text-align: center !important;
}
  
  .mt-7 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  
  .mt-7 a {
    font-size: 16px;
    color: #1f1f1f;
    font-family: Jost;
    text-decoration: none;
  }
  .nav-link-one::before {
    content: "";
    background: black;
    height: 1px;
    width: 140px; /* Adjust as needed */
    margin-top: 7px;
    display: block;
    margin-left: auto; /* Aligns the line to the left of the link */
    margin-right: auto; /* Aligns the line to the right of the link */
    text-align: center !important; /* Centers the line within its container */
    transform: translateY(25px);
}


/* ------------------------------------------------section5--------------------------------------------------------------------- */
.py-13 {
    padding-bottom: 125px;
    padding-top: 125px;
    background-image: url(cover-4.jpg);
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .cont-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .justify-content-end {
    display: flex !important;
    justify-content: flex-end !important;
  }
  .mb-7{
    margin-bottom: 32px !important;
    font-size: 36px;
    font-family: Jost;
  }

  .d-flex{
    display: flex !important;
  }
  .mb-9{
    margin-bottom: 48px;
  }
  .text-centre{
    text-align: center !important;
  }
  .text-primary{
    font-size: 46px;
    color: #ff6f61 !important;
    font-weight: 900;
    font-family: Jost;
  }
  .fw-bolder{
    font-size: 43px;
    color: #ff6f61;
    margin-top: -5px;
    font-family: Jost;
  }
  .fw-bolder-one{
    font-size: 43px;
    color: #ff6f61;
    margin-top: -5px;
    font-family: Jost;
    font-weight: 700;
  }

  .heading-xss{
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.32px;
  }
  .px-md-4{
    padding-left: 12px !important;
    padding-right: 12px !important;
     
  }

  .btn-dark{
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #fff;
    height: 60px;
    border-radius: 0;
    white-space: nowrap;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 16px 28px;
    text-align: center !important;
  }
 
  .btn-dark:hover .fa-arrow-right{
    right: 10px;
    transform: translateX(5px);
    transition: 0.5s;
}
/* ----------------------------------------------------section-6--------------------------------------------------------------------- */
.heading-xxxxs{
    font-size: 13px;
    color: #909090 !important;
    font-weight: 500;
    letter-spacing: 0.32px;
    padding-top: 100px !important;
    padding-bottom: 0px;
}
.mb-10{
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  font-family: Jost;
  padding-bottom: 64px !important;
}
.overed{
    padding-bottom: 160px !important;
}

.data-flexibility{
    position: relative;
}
.flecty-viewport{
    height: 350.33px;
}
.px-4{
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.flecty-slider{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.card-border{
    border: 1px solid #ebebeb;
    flex-direction: column;
    display: flex;
    min-width: 0;
    position: relative;
    margin-top: -0px;
    padding-bottom: 20px;
}
.card-body-one{
    padding: 32px;
    flex: 0 0 auto;
    margin-top: -0px !important;
}
.mb-6{
    margin-bottom: 24px !important;
    align-items: center !important;
}
.row-align{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: 30.3333%;
    flex: 0 0 auto;
}
.img-fluid{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.col-8{
    width: 66.66667%;
    flex: 0 0 auto;
    margin-left: 8px;
}
.fw-bold{
    text-decoration: none;
    font-weight: 500 !important;
    display: block !important;
}
.rating-xs{
    display: inline-flex;
    margin-bottom: 0;
}
.orangered-star{
    color: #fd7e14;
}
.light-gray-star{
   color: #d8d8d8;
}
.mb-0{
    margin-top: -30px !important;
    margin: 28px;
}
 .text-muted3{
    margin-left: 28px !important;
    color: #767676 !important;
    text-decoration: none;
    font-family: Jost;
    font-size: 14px;
}



/* ------------------------------------------------------section-7---------------------------------------------------------------- */
.py-75{
    background-color: #f5f5f5 !important;
    padding-bottom: 40px !important;
}
.mb-3{
    font-size: 36px;
    padding-top: 100px !important;
    padding-bottom: 0px !important;
    font-family: Jost;
}
.fs-lg{
    font-size: 18px;
    color: #525252 !important;
    margin-bottom: 20px !important;
    font-weight: 100;
}
.mb-10 {
    margin-left: 4px !important;
    margin-right: 4px !important;
    margin-bottom: 14px !important;
  }

.row {
    display: flex;
    flex-wrap: wrap;
  }
.specific-row
.px-1-one {
    margin-left: -4px !important;
}
.px-1-one {
    padding-left: 6px !important;
    padding-right: 6px !important;
    width: 16% !important;
}
  
.mb-2 {
    margin-bottom: 8px !important;
  }
.wear {
    position: relative;
}
  
.wear-img {
    width: 100%;
  }
  .wear-img-one{
    width: 100%;
  }
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31, 31, 31, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .wear:hover .img-overlay {
    opacity: 1;
  }
  
  .my-0 {
    margin: 0;
    text-align: center;
    font-size: 13px;
  }
  
  .img-overlay p {
    margin: 16px;
    cursor: pointer;
  }
  
  .heart-one,
  .fa-comment {
    vertical-align: middle !important;
  }
  .heart-one,.fa-comment{
    margin: 10px;
  }
a{
    text-decoration: none;
  }
.fased{
    margin-top: -16px !important;
}
/* --------------------------------------------------section-8------------------------------------------------------------------------ */
.col-sm-3{
    flex: 0 0 auto;
    width: 14%;
    padding: 10px !important;
}
.img-fluid-one{
    height: 20px !important;
    width: 100%;
}
.mb-md-0{
    margin-bottom: 52px !important;
}
.px-2{
    margin-left: -10px;
    margin-top: -10px !important;
}
/* -------------------------------------------------section-9-------------------------------------------------------------------- */
.border-new-footer{
    border-color: #303030 !important;
    padding-bottom: 92px !important;
    padding-top: 92px !important;
}
.bg-dark{
    background-position: 50% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.text-centre-four{
    font-size: 24px;
    color: white;
    text-align: center !important;
    margin-bottom: 32px !important;
}
.overall-form-one{
    margin-bottom: 80px;
    display: block;
    margin-top: 0px;
}
 .align-items-start{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start !important;
}
.col{
    flex: 1 0 0%;
} 
.col-auto{
    width: auto;
    flex: 0 0 auto;
}
.form-control-gray{
    background-color: #303030;
    border-color: #303030;
    color: #fff;
    line-height: 1.5;
    font-size: 16px;
    min-height: calc(24px + 34px + 2px);
    padding: 17.04px 30px;
    border-radius: 0;
    font-weight: 400;
    width: 100%;
    font-family: Jost;
    border: none;
}
.button-footer{
    background-color: #525252;
    border-color: #525252;
    color: #fff;
    height: calc(58px + 2px);
    height: 64px;
    border-radius: 0;
    font-size: 16px;
    padding: 17px 32px;
    text-align: center;
    display: inline-block;
    font-weight: 500;
    transition: all color .2s ease-in-out,background-color .2s ease-in-out opocity 0.2;
}
.col-md-3{
    flex: 0 0 auto;
    width: 25%;
}
.footer-head{
    color: white;
    font-size: 24px;
    margin-bottom: 24px !important;
    font-weight: 500;
    line-height: 1.2;
    margin-top: -50px;
}
.footer-ps .row{
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
}
.footer-ps .col-12{
    flex: 0 0 auto;
    width: 30%;
}
.list-inline{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0 !important;
}
.list-item{
    display: inline-block;
    margin: 3px;
}
.list-item:first-child{
    margin-left: -2px;
}
.face-book, .you-tube{
    height: 20px;
    width: 20px;
    filter: invert();
}
footer .col-6{
    width: 50%;
}
.col-sm{
    flex: 1 0 0%;
}
.heading-foot{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-bottom: 16px !important;
    margin-top: 0;
    color: white;
}
.list-unstyle{
    list-style-type: none;
    color: white;
    padding-left: 0;
    font-weight: 100;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.text-footer{
    color: #bababa;
}
.text-footer:hover{
    color: #bababa;
}
.py-footer-two{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border: 1px solid #303030;
    border-left-style: none;
    border-right-style: none;
}
.py-footer-two .col{
    display: flex;
    flex-wrap: wrap;
}
.footer-name{
    font-size: 13px ;
    color: #767676;
    margin-bottom: 12px !important;
}
.py-footer-two .col-auto{
    flex: 0 0 auto;
    width: auto;
}
.footer-bottom-img{
    height: 24px;
    width: auto;
    vertical-align: middle;
}
.footer-bottom-img-four{
    height: 24px;
    width: auto;
    vertical-align: middle;
}

@media screen and  (max-width: 1399px){
    .navbar-nav{
        margin-right: 0;
     }

}


@media screen and  (max-width: 1199px){
    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        padding-bottom: 40px !important;
        padding-top: 40px !important;
        /* margin-bottom: -80px !important; */
        margin-top: 130px !important;
    }
   .navbar-nav  {
        margin-left: auto;
        margin-right: 10px;
    }
    .navbar-brand{
        color: #1f1f1f;
        font-weight: 500;
        font-size: 28px;
        font-family: Jost;
        margin-left: auto;
        margin-right: 90px;
    }
    .nav-icons {
        display: flex;
        padding: 18px;
        margin-left: auto !important;
        margin-right: 0px;
    }
    .card-end{
        width: 92px;
        height: 92px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #ff6f61;
        color: #fff;
        margin:15px 0 0 500px;
    }
    .col-8{
        width: 66.66667%;
        flex: 0 0 auto;
        margin-left: 8px;
    }
    .col-4{
        width: 28.3333%;
        flex: 0 0 auto;
    }
    .card-body-one{
        padding: 32px;
        flex: 0 0 auto;
        margin-top: -0px !important;
    }
   
    .heart-one,.fa-comment{
        margin: 5px;
    }
    .col-sm-3{
        flex: 0 0 auto;
        width: 15%;
        padding: 10px !important;
    }
    .img-fluid-one{
        height: 20px !important;
        width: 100%;
    }
    .overall-form-one{
        margin-bottom: 80px !important;
        display: block;
        margin-top: 0px;
    }
    .footer-ps .col-12{
        flex: 0 0 auto;
        width: 25%;
    }
    #div-footer-three{
        margin-top: 20px !important;
     } 
     .navbar-nav{
        margin-right: 0;
     }

   }
  @media screen and (min-width:768px) and (max-width:991px){
    .card-body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        padding-bottom: 40px !important;
        padding-top: 40px !important;
        /* margin-bottom: -80px !important; */
        margin-top: 130px !important;
    }
    .container-fluid .row .bg-cover:last-child {
        display: none !important;
    }
    .navbar-brand{
        color: #1f1f1f;
        font-weight: 500;
        font-size: 24px;
        font-family: Jost;
        margin: 0px 0px 0px 100px;
    }
    .navbar-toggler {
        margin-left: auto !important; 
        margin-right: 80px;
        border: none;
    }
    .navbar{
        padding: 17px;
        background-color: white;
    }
    .card-end{
        width: 92px;
        height: 92px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #ff6f61;
        color: #fff;
        margin: 20px 0 0 280px;
    }
    .flex-direction {
        flex: 0 0 auto;
        width: 33% !important;
    }
    .flex-direction:last-child{
        display: none;
    }
    .flecti-cell2{
        display: none;
    }
    .flecti-cell1{
        display: none;
    }
    .col-8{
        width: 66.66667%;
        flex: 0 0 auto;
        margin-left: 8px;
    }
    .col-4{
        width: 28.3333%;
        flex: 0 0 auto;
    }
    .card-body-one{
        padding: 32px;
        flex: 0 0 auto;
        margin-top: -0px !important;
    }
    
    .heart-one,.fa-comment{
        margin: 0px;
    }
    .col-sm-3{
        flex: 0 0 auto;
        width: 15%;
        padding: 10px !important;
    }
    .img-fluid-one{
        height: 20px !important;
        width: 100%;
    }
    .overall-form-one{
        margin-bottom: 80px;
        display: block;
        margin-top: 0px;
    }
    .overall-form-one{
        margin-bottom: 80px !important;
        display: block;
        margin-top: 0px;
    }
    .footer-ps .col-12{
        flex: 0 0 auto;
        width: 24%;
    }
    #div-footer-two{
        margin-top: 20px !important;
     } 
     #div-footer-three{
        margin-top: 20px !important;
     } 
     .footer-bottom-img{
        height: 24px;
        width: auto;
        vertical-align: middle;
    }
    .footer-bottom-img-four{
        height: 24px;
        width: auto;
        vertical-align: middle;
        margin-top: -0px;
    }

    
  }
   @media screen and (max-width: 767px){
    .container-fluid .row .bg-cover:last-child {
        display: none !important;
    }
     .container-fluid .row .bg-cover:nth-child(2) {
        display: none !important;
    }
    .navbar-brand{
        color: #1f1f1f;
        font-weight: 600;
        font-size: 24px;
        font-family: Jost;
        margin: 0px 0px 0px 80px;
    }
    .navbar-toggler {
        margin-left: auto !important; 
        margin-right: 70px;
        border: none;
        }
    .card-body h1{
            color: #ffffff;
            font-size: 36px;
            font-weight: 800;
            text-align: center !important;
            font-family: Alata;
            margin-bottom: 0 !important;
            line-height: 1.2;
            box-sizing: border-box;
            display: block;
            margin-block-start: 13.5px;
            margin-block-end: 13.5px;
        }
        .navbar{
            padding: 17px;
            background-color: white;
        }
        .card-end{
            width: 92px;
            height: 92px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: #ff6f61;
            color: #fff;
            margin: 20px 0 0 400px;
        }
        .card-inside{
            width: 100%;
            padding: 20px;
            text-align: center !important;
            flex: 0 0 auto;
            margin-bottom: auto !important;
            margin-top: 140px !important;
            position: absolute;
            margin-left: -0px;
        }
        .btn-link-streched-black{
            font-weight: 500;
            color: #1f1f1f;
            font-family: Jost;
        }
        .card-ins-head{
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 5px !important;
            font-family: Jost;
        }
        .card-ins-head-black{
            color: #1f1f1f;
            font-size: 24px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 5px !important;
            font-family: Jost;
        }
        .mb-4{
            margin-bottom: 16px !important;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
        }
        .flex-direction {
            flex: 0 0 auto;
            width: 50% !important;
        }
        .flex-direction:last-child{
            display: block;
        }
        .flex-direction:nth-child(3), :nth-child(4){
            margin-top: 50px;
        }
        .border-bottom1:nth-child(4){
            margin-top: -0px;
        }
        .text-mb{
            margin-top: 60px !important;
            text-align: center !important;
            margin-bottom: 16px !important;
            font-size: 32px;
            font-weight: 500;
            line-height: 1.2;
            font-family: Jost;
            letter-spacing: 0;
        }
        .nav-icons:last-child{
            margin-top: -0px;
        }
        .nav-item:last-child{
            margin-top: -0px;
        }
        
        .px-md-4{
            padding-left: 7px !important;
            padding-right: 7px !important;
             
          }
        .mb-7{
            margin-bottom: 32px !important;
            font-size: 28px;
            font-family: Jost;
          }
          .text-primary{
            font-size: 32px;
            color: #ff6f61 !important;
            font-weight: 900;

          }
          .fw-bolder{
            font-size: 32px !important;
            color: #ff6f61;
            margin-top: -0px;
            font-family: Jost;
          }
          .fw-bolder-one{
            font-size: 32px !important;
            color: #ff6f61;
            margin-top: -50px;
            font-family: Jost;
            font-weight: 700;
          }
          .mb-9{
            margin-bottom: 35px;
          }
        .flecti-cell1, .flecti-cell2{
            display: none;
        }
        
        .col-8{
            width: 66.66667%;
            flex: 0 0 auto;
            margin-left: 100px;
            margin-top: -83px;
        }
        .col-4{
            width: 18.3333%;
            flex: 0 0 auto;
        }
        .card-body-one{
            padding: 42px;
            flex: 0 0 auto;
            margin-top: -0px !important;
        }
        .col-4{
            width: 34.3333%;
            flex: 0 0 auto;
        }
        .img-fluid{
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        .rating-xs{
                display: inline-flex;
                margin-bottom: 0;
        }
        .rating-item-one{
            margin-top: -0px !important ;
        }
        .flecti-cell{
            margin-left: 90px;
        }
        .specific-row
        .px-1-one {
            margin-left: -4px !important;
            height: 140px;
        }
        .px-1-one {
            padding-left: 6px !important;
            padding-right: 6px !important;
            width: 33% !important;
        }
        .wear-img-one{
            width: 100%;
            margin-top: -25px !important;
        }
        .col-sm-3{
            flex: 0 0 auto;
            width: 24%;
            height: 70px;
            padding: 10px !important;
        }
        .img-fluid-one{
            height: 20px !important;
            width: 100%;
        }
        .overall-form-one{
            margin-bottom: 80px;
            display: block;
            margin-top: 0px;
        }
        .overall-form-one{
            margin-bottom: 120px !important;
            display: block;
            margin-top: 0px;
        }
        .footer-ps .col-12{
            flex: 0 0 auto;
            width: 100%;
        }
        .footer-head{
            color: white;
            font-size: 24px;
            margin-bottom: 22px !important;
            font-weight: 500;
            line-height: 1.2;
            }
        .list-inline{
                list-style: none;
                padding-left: 0;
                margin-top: -50px;
            }
         #div-footer-two{
           margin-top: 30px !important;
        } 
        #div-footer--four{
            margin-top: -40px !important;
        }
        .py-footer-two .col-auto{
            flex: 0 0 auto;
            width: auto;
        }
        .footer-bottom-img{
            height: 24px;
            width: auto;
        }
        .footer-bottom-img-four{
            height: 24px;
            width: auto;
            vertical-align: middle;
            margin-top: -0px;
        }
       
   }
@media screen and (max-width:575px){
    .navbar-brand{
        color: #1f1f1f;
        font-weight: 500;
        font-size: 24px;
        font-family: Jost;
        margin: 0px 0px 0px -15px;
    }
    .navbar-toggler {
        margin-left: auto !important; 
        margin-right: -20px;
        border: none;
        }
    .card-body h1{
        color: #ffffff;
        font-size: 34px;
        font-weight: 800;
        text-align: center !important;
        font-family: Alata;
        margin-bottom: 0 !important;
        line-height: 1.2;
        box-sizing: border-box;
        display: block;
        margin-block-start: 13.5px;
        margin-block-end: 13.5px;
        }
        
    .card-inside{
            width: 100%;
            padding: 20px;
            text-align: center !important;
            flex: 0 0 auto;
            margin-bottom: auto !important;
            margin-top: 140px !important;
            position: absolute;
            margin-left: -0px;
        }
    .btn-link-streched-black{
            font-weight: 500;
            color: #1f1f1f;
            font-family: Jost;
        }   .card-end{
            width: 92px;
            height: 92px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            background-color: #ff6f61;
            color: #fff;
            margin: 20px 0 0 280px;
        }
        .span-top{
            font-size: 24px;
            font-weight: 500;
            margin-top: -2px !important;
            font-family: Jost;
        }
        .mb-4{
            margin-bottom: 16px !important;
            font-size: 30px;
            font-weight: 500;
            line-height: 1.2;
        }
         .flex-direction {
            flex: 0 0 auto;
            width: 50% !important;
        }
        .flex-direction:last-child{
            display: block;
        }
        .flex-direction:nth-child(3), .flex-direction:nth-child(4){
            margin-top: 50px;
        } 
        
        .border-bottom1:nth-child(4){
            margin-top: -0px;
        }
        .text-mb{
            margin-top: 60px !important;
            text-align: center !important;
            margin-bottom: 16px !important;
            font-size: 32px;
            font-weight: 500;
            line-height: 1.2;
            font-family: Jost;
            letter-spacing: 0;
        }
        .nav-icons:last-child{
            margin-top: -0px;
        }
        .nav-item:last-child{
            margin-top: -0px;
        }
        .px-md-4{
            padding-left: 7px !important;
            padding-right: 7px !important;
        }
        .mb-7{
            margin-bottom: 32px !important;
            font-size: 28px;
            font-family: Jost;
          }
          .text-primary{
            font-size: 32px;
            color: #ff6f61 !important;
            font-weight: 900;

          }
          .fw-bolder{
            font-size: 32px !important;
            color: #ff6f61;
            margin-top: -0px;
            font-family: Jost;
          }
          .fw-bolder-one{
            font-size: 32px !important;
            color: #ff6f61;
            margin-top: -50px;
            font-family: Jost;
            font-weight: 700;
          }
          .mb-9{
            margin-bottom: 35px;
          }
          .flecti-cell1{
            display: none;
        }
        .flecti-cell2{
            display: none;
        }
        .col-8{
            width: 66.66667%;
            flex: 0 0 auto;
            margin-left: 100px;
            margin-top: -83px;
        }
        .col-4{
            width: 18.3333%;
            flex: 0 0 auto;
        }
        .card-body-one{
            padding: 42px;
            flex: 0 0 auto;
            margin-top: -0px !important;
        }
        .col-4{
            width: 26.3333%;
            flex: 0 0 auto;
        }
        .img-fluid-one{
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
        .rating-xs{
                display: inline-flex;
                margin-bottom: 0;
        }
        .rating-item-one{
            margin-top: -0px !important ;
        }
        .flecti-cell{
            margin-left: 0px;
        }
        .overed {
            padding-bottom: 60px !important;
        }
        .px-1-one {
            padding-left: 6px !important;
            padding-right: 6px !important;
            width: 50% !important;
        }
      .specific-row .px-1-one{
        margin-left: -4px !important;
        height: 160px;
      }
      .col-sm-3{
        flex: 0 0 auto;
        width: 35%;
        height: 70px;
        padding: 15px !important;
    }
    .img-fluid-one{
        height: 40px !important;
        width: 100%;
    }
    .py-75{
        background-color: #f5f5f5 !important;
        padding-bottom: 60px;
    }
    .footer-ps .col-12{
        flex: 0 0 auto;
        width: 100%;
    }
    #div-footer-one, #div-footer-two, #div-footer-three, #div-footer-four{
        width: 100%;
    }
   #div-footer-three
      {
        margin-top: 400px; 
    }
    .footer-ps {
       height: 440px !important;
    }
    .py-footer-two .col-auto{
        flex: 0 0 auto;
        width: auto;
    }
    .footer-bottom-img{
        height: 24px;
        width: auto;
    }
}